<ion-header>
  <ion-toolbar>
    <ion-icon  size="large" (click)="backToHome()" name="arrow-back-outline"></ion-icon>
    <ion-title>add_product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
    
  <form [formGroup] = "productForm" (ngSubmit) ="onSubmit()">
    <ion-item>
      <ion-input formControlName="title" type="text" placeholder="Title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="imageUrl" type="text" placeholder="imageUrl"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="description" type="text" placeholder="Description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="price" type="text" placeholder="Price"></ion-input>
    </ion-item>

    <ion-button type="submit"  [disabled]="productForm.invalid" margin-top expand="full">Add Product</ion-button>
  </form>

</ion-card-content>
</ion-card>

</ion-content>
