<ion-header>
  <ion-toolbar>
    <ion-icon  slot="start" size="large" (click)="backToHome()" name="arrow-back-outline"></ion-icon>
    <ion-title>
      Details

      <ion-text  style="font-size: small;">
        Total
      </ion-text>

      <ion-chip>
        <ion-label color="danger">{{totalAmount}}$</ion-label>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-img [src]="imageUrl"></ion-img>
    <ion-card-header>
       <ion-card-title style="text-align: center;">
      {{title}} 

      <ion-chip>
        <ion-label color="danger">{{price}}$</ion-label>
      </ion-chip>
       </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">

      <ion-text color="danger" class="text-desc" >
      {{description}}
    </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addPrice()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
